<!DOCTYPE html>
<html ng-app='tweetApp'>
<head>
	<title>Twitter Feed</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="twitter.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
	<script type="text/javascript" src="twitter.js"></script>
</head>
<body ng-controller='mainController'>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-offset-3 tweets" ng-repeat='tweet in data'>
				<img ng-src='{{tweet.user.profile_image_url}}' class="profilePic"> {{tweet.user.name}} <span class="at">@{{tweet.user.screen_name}}</span> <span class='location'> I'm in {{tweet.user.location}}</span><br>
			{{tweet.text}}
			<div class="text-center time"> Tweeted {{tweet.sinceTweeted | date:"h"}}hrs {{tweet.sinceTweeted | date:"mm"}}mins
				{{tweet.sinceTweeted | date:"ss"}}sec ago
			<span class="retweet"><img src="retweet.png"> {{tweet.retweet_count}} times</span> <span class='followers'>Followers - {{tweet.user.followers_count}}</span>
			</div>

			</div>
			<div class="hashInput col-sm-3">
				<form class="hashForm" ng-submit='enterHash()'>
					<input type="hashInput" type="text" name="userInput" placeholder="Justin Bieber" ng-model=userInputHash>
				</form>
			</div>
		</div>
	</div>

</body>
</html>