.container{
	padding-top: 1%;
}
.tweets{
	border: 1px solid red;
	font-size: 20px;
	padding-bottom: 1%;
	padding-top: 1%;
	margin-bottom: 1%;
	background: white;
}
body{
	background: url('fancyTwitterbackground.png');
}
.profilePic{
	width: 48px;
	height: 48px;
}
.retweet{
	color: #0066ff;
	font-size: 14px;
}
.retweet img{
	width: 28px;
	height: 28px;
}
.followers{
	font-size: 14px;
	float: right;
	color: #0066ff;
}
.aboutMe{
	font-size: 12px;
	color: #ff884d;
}
.location{
	font-size: 14px;
	float: right;
	color: #d7d7c1;
}
.at{
	font-size: 12px;
}