.tweets{
	border: 1px solid red;
	font-size: 20px;
	padding-bottom: 1%;
	padding-top: 1%;
}
img{
	width: 100%;
}
.profilePic{
	width: 48px;
	height: 48px;
}
.retweet{
	color: #0066ff;
}
.followers{

}